.vscode/launch.json
.vscode/tasks.json

bin/Debug/net7.0/EstruturaDoPrograma.deps.json
bin/Debug/net7.0/EstruturaDoPrograma.dll
bin/Debug/net7.0/EstruturaDoPrograma.exe
bin/Debug/net7.0/EstruturaDoPrograma.pdb
bin/Debug/net7.0/EstruturaDoPrograma.runtimeconfig.json

obj/EstruturaDoPrograma.csproj.nuget.dgspec.json
obj/EstruturaDoPrograma.csproj.nuget.g.props
obj/EstruturaDoPrograma.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/EstruturaDoPrograma.AssemblyInfo.cs
obj/Debug/net7.0/EstruturaDoPrograma.AssemblyInfoInputs.cache
obj/Debug/net7.0/EstruturaDoPrograma.assets.cache
obj/Debug/net7.0/EstruturaDoPrograma.csproj.AssemblyReference.cache
obj/Debug/net7.0/EstruturaDoPrograma.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/EstruturaDoPrograma.csproj.FileListAbsolute.txt
obj/Debug/net7.0/EstruturaDoPrograma.dll
obj/Debug/net7.0/EstruturaDoPrograma.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/EstruturaDoPrograma.genruntimeconfig.cache
obj/Debug/net7.0/EstruturaDoPrograma.GlobalUsings.g.cs
obj/Debug/net7.0/EstruturaDoPrograma.pdb
obj/Debug/net7.0/ref/EstruturaDoPrograma.dll
obj/Debug/net7.0/refint/EstruturaDoPrograma.dll
